/* GOF(S1) start*/
#GOF1_movie {
    margin: 0px;
    background-color: #111;
}
.GOF1_navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262626;
    position: sticky;
    top: 0;
    z-index: 100;
}
  
.GOF1_navbar li {
    float: right;
}
  
.GOF1_navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 25px;
    text-decoration: none;
    font-size: 25px;
}
  
.GOF1_navbar li a:hover {
    background-color: #111;
}
  
.GOF1_navbar .home {
    background-color: #2a642d;
}


.buttons {
    text-align: center;
    margin-top: 15px;
    position: fixed;
    z-index: 99;
    right: 42%;
}
.buttons button {
    width: 120px;
    height: 40px;
}
.buttons .book_button {
    background-color: gray;
}
.buttons .movie_button {
    background-color: #333;
}
.movie_info {
    width: calc(100% - 110px);
    height: 400px;
    margin: 100px 50px;
    background-color: #eee;
    border: 5px solid black;
    position: relative;
    border-radius: 10px;
    background-color: #111;
}
.movie_info .poster {
    width: 240px;
    height: auto;
    margin: 20px;
    right: 0;
    position: absolute;
    border: 3px solid black;
    border-radius: 10px;
}
.movie_info .info p {
    border: 3px solid black;
    width: 1000px;   
    padding: 15px 15px 15px 30px; 
    height: 320px;
    margin: 20px;
    left: 50px;
    line-height: 80px;
    border-radius: 10px;
    color: #fff;
    font-size: 40px;
}

.synopsis {
    width: calc(100% - 50px);
    margin: 20px;
    text-align: center;
    color: #fff;
    font-size: 35px;
}



.cast {
    list-style-type: none;
}
img {
    height: 300px;
    width: 180px;
    margin: 28px;
    border-radius: 5px;
}
h2 {
    color: #fff;
    position: relative;
    text-align: center;
    font-size: 80px;
    margin-top: 140px;
}
.cast li {
    float: left;
    
}
.cast div {
    position: relative;
} 
.cast p {
    width: auto;
    font-size: 18px;
    color: #fff;
    position: absolute;
    margin-top: -80px;
    margin-left: 40px;
}

.GOF1_trailer {
    text-align: center;
    margin-top: 550px;
    color: #fff;
}
.GOF1_trailer2 {
    width: 1000px;
    height: auto;
    
}
.GOF1_book {
    width: 100%;
    height: 1800px;
    margin-top: 50px;
    background-color: #2a642d;
    position: relative;
}
.GOF1_book .book_info {
    width: calc(100% - 110px);
    height: 400px;
    margin: 100px 50px;
    border: 5px solid black;
    position: absolute;
    border-radius: 10px;
}
.GOF1_book .book_info .book_poster {
    width: 205px;
    height: auto;
    position: absolute;
    right: 0px;
    border: 3px solid black;
    border-radius: 10px;
}
.GOF1_book .book_info p {
    border: 3px solid black;
    width: 1000px;   
    padding: 15px 15px 15px 30px; 
    height: 320px;
    margin: 20px;
    left: 50px;
    line-height: 80px;
    border-radius: 10px;
    color: #fff;
    font-size: 40px;
}
.GOF1_book .synopsis {
    width: calc(100% - 50px);
    margin: 20px;
    text-align: center;
    color: #fff;
    font-size: 35px;
    margin-top: 500px;
    position: absolute;
}
.GOF1_book .synopsis .hedden {
    display: none;
}
.see_more {
    padding: 10px 15px;
    border: none;
    background-color: black;
    color: #eee;
}
.GOF1_author {
    position: relative;
    top: 1300px;
    margin-left: 80px;
}
.GOF1_author img {
    position: absolute;
    width: 250px;
    height: auto;
    top: 80px;
    left: 50px;
}
.GOF1_author h2 {
    font-size: 50px;
    position: relative;
    text-align: center;
    color: black;
    left: -50px;
}
.GOF1_author p {
    width: 800px;
    font-size: 30px;
    position: absolute;
    left: 400px;
}
.GOF_footer {
    width: 100%;
    height: 80px;
    background-color: black;
    text-align: center;
    display: inline-block;
    color: #eee;
    padding-top: 15px;
    font-size: 20px;

}
.GOF_footer a {
    width: 400px;
    margin: 30px;
    text-decoration: none;
    color: #eee;
}
/*GOF(S1) end*/
/*GOF(S8) start*/
#GOF8_body {
    margin: 0px;
    background-color: #645761;
}
/*#645761 #171416*/
.GOF8_navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 100;
}
  
.GOF8_navbar li {
    float: right;
}
  
.GOF8_navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 25px;
}
  
.GOF8_navbar li a:hover,
.GOF8_navbar i:hover {
    background-color: #111;
}
  
.GOF8_navbar .home {
    background-color: #333;
    margin-right: 580px;
}
.GOF8_navbar i{
    padding: 10px 25px;
    font-size: 25px;
}

.GOF8_movie {
    background-image: url("bg.jpg");
    width: 100%;
    height: 850px;
    top: -10px;
    background-repeat: no-repeat;
    background-size: 100%;
    position: relative;
    margin-bottom: 100px;
}
.GOF8_movie .movie_info {
    width: 700px;
    height: 600px;
    margin: 100px 50px ;
    position: absolute;
}
.GOF8_movie strong {
    font-size: 60px;

}
.GOF8_movie .rating {
    font-size: 35px;
    margin-top: 50px;
}
.GOF8_movie .rating .fa {
    color: orange;
}
.GOF8_movie .rating p {
    font-size: 35px;
    display: inline;
    margin-left: 10px;
}
.GOF8_movie .movie_info .synopsis {
    font-size: 25px;
    margin-top: 50px;
}
.GOF8_movie .colored {

    display: inline;
    color: rgb(92, 45, 6);
}
.GOF8_movie .things {
    font-size: 33px;
    margin-top: 80px;
}
.GOF8_trailer {
    width: calc(100% - 100px);
    margin: 50px;
}
.GOF8_trailer p {
    font-size: 50px;
    border-bottom: 5px solid black;
    width: 200px;
    color: #eee;
}
.GOF8_trailer video {
    width: 1000px;
    height: auto;
    margin-left: calc((100% - 1000px)/2);
}
.GOF8_book {
    width: calc(100% - 100px);
    height: 530px;
    margin: 250px 50px;
    position: relative;
}
.GOF8_book .book_poster {
    width: 350px;
}
.GOF8_book .author_info {
    width: 600px;
    height: 290px;
    position: absolute;
    right: 0;
    top: 0;
    text-align: right;
}
.GOF8_book .author_info strong {
    font-size: 40px;
    border-bottom: 5px solid black;
    position: relative;
    bottom: 200px;
    left: 195px;
    color: #eee;
}
.GOF8_book .author_info img {
    position: relative;
    top: 50px;
}
.GOF8_book .author_info p {
    position: relative;
    bottom: 200px;
    width: 400px;
    font-size: 23px;
    color: #eee;
}
.GOF8_book h2 {
    font-size: 40px;
    border-bottom: 5px solid black;
    position: relative;
    bottom: 280px;
    width: 100px;
    left: 360px;
    color: #eee;
}
.GOF8_book .info {
    position: relative;
    font-size: 23px;
    width: 1000px;
    bottom: 300px;
    left: 360px;
    color: #eee;
}
.GOF_table {
    border: 5px solid black;
    margin: 0 100px 200px 170px;
    border-collapse: collapse;
    padding: 10px 20px;
    background-color: #40383e;
}
.GOF_table th,
.GOF_table td {
    padding: 0px 80px;
    text-align: center;
    margin-top: 0;
    border: 2px solid black;
    font-size: 30px;
    padding: 10px 40px;
}
.comment {
    width: 800px;
    height: auto;
    border: 2px solid black;
    margin: 50px;
    margin-left: calc((100% - 844px)/2);
    border-radius: 5px;
    background-color: #51464e
}
.comment:hover {
    background-color: #40383e;
}
.comment label {
    margin: 20px 30px;
    font-size: 30px;
    display: inline-block;
}
.comment #fname, #lname, #urcomment {
    width: 500px;
    margin: 14px 30px 0px 20px;
    height: 40px;
    float: right;
    border-radius: 5px;
    padding-left: 8px;
    background-color: rgb(196, 196, 176);
}
.comment #urcomment {
    resize: vertical;
    max-height: 200px;
    height: 100px;
    min-height: 80px;
    padding-top: 10px;
}
.comment .send {
    padding: 10px 15px;
    border: none;
    background-color:#04AA6D;
    position: relative;
    margin: 20px 0px 20px 500px;
    margin-top: 20px;
    border-radius: 5px;
}
.comment .send:hover {
    background-color: #037149;
}
.GOF_footer {
    width: 100%;
    height: 80px;
    background-color: black;
    text-align: center;
    display: inline-block;
    color: #eee;
    padding-top: 15px;
    font-size: 20px;

}
.GOF_footer a {
    width: 400px;
    margin: 30px;
    text-decoration: none;
    color: #eee;
}
/*GOF(S8) end*/
